<ion-header [translucent]="true">
  <ion-toolbar class="ion-text-center" color="primary">
  <ion-buttons slot="start">
    <ion-back-button defaultHref="tabs/tabMedidas">Voltar</ion-back-button>
  </ion-buttons>
    <ion-title> <ion-text style="margin-left: 10px;">Acessórios</ion-text></ion-title>
  </ion-toolbar>
  <ion-content>
    <ion-tabs>
      <ion-tab-bar class="tab-bar" color="light" slot="fixed">
        <ion-tab-button class="button-help" layout="icon-end">
          <ion-label><b>Ajuda</b></ion-label>
          <ion-icon name="help-circle-outline"></ion-icon>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>    
  </ion-content> 
</ion-header>
<ion-content>
  <div class="content" slot="fixed">
    <div>
      <ion-text class="ion-text-center">
            <b>O acessório é obrigatório, pois compõe a cortina.</b>
      </ion-text>
    </div>
  </div>
  <br>
  <div class="obrigatorio">
    <br>
    <app-c-acessorio *ngFor=" let ac of Acessorios" Tipo={{ac.Tipo}} Cor={{ac.Cor}} Valor={{ac.Valor}} ></app-c-acessorio>
  </div>    
</ion-content>

<div class="floating-button">
  <ion-fab-button class="button-next" routerLink="../tabCarrinho" color="success">Inserir pedido no carrinho</ion-fab-button>
</div>
  