<ion-header [translucent]="true">
  <ion-toolbar class="ion-text-center" color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/tabTipoCortina"><ion-title>Voltar</ion-title></ion-back-button>
    </ion-buttons>
    <ion-title>Medidas</ion-title>
  </ion-toolbar>
  <ion-content>
    <ion-tabs>
      <ion-tab-bar class="tab-bar" color="light" slot="fixed">
        <ion-tab-button class="button-help" layout="icon-end">
          <ion-label><b>Ajuda para medir</b></ion-label>
          <ion-icon name="help-circle-outline"></ion-icon>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>    
  </ion-content> 
</ion-header>

<ion-content>
  <div class="center">
    <ion-list>
      <ion-item>
        <ion-label>
          Altura: (altura do varão +3cm <br> ou altura do trilho -2cm)
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-input (change)="nroPartes()" type="number" placehoder="example123@login.com" [(ngModel)]="Altura">
        </ion-input>
      </ion-item>
      <div class="item">
      </div>
      <ion-item>
        <ion-label>
          Largura: (largura desejada do varão <br> ou trilho)
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-input (change)="nroPartes()" type="number" placehoder="example123@login.com" [(ngModel)]="Largura">
        </ion-input>
      </ion-item>
      <div class="item">
      </div>
      <ion-item>
        <ion-label>
          Proporção: (padrão: 3m de tecido
                      <br> para cada 1m de trilho)
        </ion-label>
          </ion-item>
          <ion-item>
            <ion-input (change)="nroPartes()" type="number" placehoder="example123@login.com" [(ngModel)]="Proporcao">
            </ion-input>
          </ion-item>
        <div class="item">
      </div>
      <ion-item>
        <ion-label class="ion-text-center">
          Partes: (Em quantas partes deseja que a <br> largura seja dividida. <br><b>OBS: </b> Alturas maiores que 2.85m não é <br> possível escolher o número de partes.
        </ion-label>
          </ion-item>
          <ion-item>
            <ion-input [readonly]="Altura>=2.85" (change)="nroPartes()"  type="number" [(ngModel)]="Partes">
            </ion-input>
          </ion-item>
    </ion-list>
  </div>
</ion-content>

<div class="floating-button">
  <!-- routerLink="../tabAcessorio" -->
  <ion-fab-button class="button-acessorio" color="success" (click)="setMedidas()">Acessório</ion-fab-button>
</div>