<ion-header [translucent]="true">
  <ion-toolbar class="ion-text-center" color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login">Voltar</ion-back-button>
    </ion-buttons>
    <ion-title>Editar dados</ion-title>
  </ion-toolbar>
  <ion-content>
    <ion-tabs>
      <ion-tab-bar class="tab-bar" color="light" slot="fixed">
      </ion-tab-bar>
    </ion-tabs>    
  </ion-content> 
</ion-header>
<ion-content>
  <div class="center">
      <ion-button (click)="apagarCampos()" color="danger" class="button-apagar">Apagar campos</ion-button>
    <br>
    <ion-list slot="primary">

      <ion-item>
        <ion-label>
          Nome:
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Gabriel" id="nome" [(ngModel)]="Nome">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label>
          E-mail:
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-input placeholder="email@example123" id="email" [(ngModel)]="Email">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label>
          Senha: 
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-input placeholder="mypassword123" id="senha" [(ngModel)]="Senha">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label>
          Data de nascimento: 
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-input placeholder="19/02/2000" [(ngModel)]="DataNasc">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label>
          Endereço: 
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Rua da Esquina nº11, Bairro Exemplo" [(ngModel)]="Endereco">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label>
          CEP: 
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-input placeholder="99400-000" [(ngModel)]="Cep">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label>
          Estado: 
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-input placeholder="RS" [(ngModel)]="Estado">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label>
          CPF: 
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-input placeholder="103.298.031-01" [(ngModel)]="Cpf">
        </ion-input>
      </ion-item>

    </ion-list>
    <ion-button slot="secondary"  (click)="cadastrar()" class="button-cadastro">Realizar cadastro</ion-button>
      
  </div>
</ion-content>
<!-- 
<div class="floating-button">
</div> -->