<ion-content fullscreen="true" class="perfil-background" slot="fixed">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="light" fill="solid">
        <ion-text (click)="logout()" color="dark">Sair</ion-text>
        <ion-icon slot="start" color="dark" name="exit-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button  color="light" fill="solid"> 
  <!-- <ion-fab-button class="button-next" routerLink="../tabTipoCortina" color="success">Próximo</ion-fab-button> -->
        <ion-text routerLink="../tabEditarDados" color="dark">Editar</ion-text>
        <ion-icon slot="start" color="dark" name="cog-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <div class="card">
    <div class="header">
      <div class="avatar">
        <img src="../../assets/img/foto-em-branco.png" alt="">
      </div>
    </div>

    <div class="card-body">
      <div class="user-meta ion-text-center">
        <h3 class="username">{{Nome}}</h3>
        <div class="justify-content-center">
          <ion-button fill="outline" expand="round" >
            Veja nosso trabalho nas redes sociais
            <ion-icon slot="start" name="share-social-outline"></ion-icon>
          </ion-button>
        </div>
      </div>
      <ion-toolbar class="social-media-icons">
        <ion-buttons slot="secondary">
          <ion-button class="bt-sociais">
            <ion-icon name="logo-facebook"></ion-icon>
          </ion-button>

          <ion-button class="bt-sociais">
            <ion-icon name="logo-whatsapp"></ion-icon>
          </ion-button>

          <ion-button class="bt-sociais">
            <ion-icon name="logo-instagram"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
      <ion-toolbar slot="primary" class="firstLine">
        <ion-card class="cards">
          <ion-icon name="person-outline" class="content-icons"></ion-icon>
          CPF: <br>
          {{Cpf}}
        </ion-card> 
        <ion-card class="cards">
            <ion-icon name="calendar-outline" class="content-icons"></ion-icon>
            Data de nascimento: <br>
            {{DataNasc}}
        </ion-card>
        <ion-card class="col-sm-3 cards">
            <ion-icon name="locate-outline" class="content-icons"></ion-icon>   
            Endereço: <br>
            {{Endereco}}
        </ion-card>
        <ion-card class="cards">
          <ion-icon name="map-outline" class="content-icons"></ion-icon>
          CEP / Cidade - UF: <br>
          {{Cep}}
        </ion-card>   
           
      </ion-toolbar>

    </div>
  </div>  
</ion-content>
