.content{
    margin-top: 16%;
    border-bottom: grey thin solid;
    border-top: grey thin solid;
    background-color: rgb(235, 230, 226);

}

.aviso{
    margin-bottom: 35%;
}

.obrigatorio{
    border-top: grey medium solid;
    border-bottom: grey medium solid;
    margin-top: 17%;
    .title{
        background-color:rgb(231, 215, 71);
    }

    .card-border{
        border: solid thin grey;
    }
}

.opcional{
    margin-top: 5%;
    border-top: grey medium solid;
    border-bottom: grey medium solid;

    .card-border{
        border: solid thin grey;
    }
}


.floating-button{
    margin-right: 20px;

    .button-next{
        margin-bottom: 20px;
        float: right;
        border-radius: 50%;
        width: 200px;
    }

}

