
.tab-bar{
    height: 50px;
    position: relative;
    background-color: #f4f5f8 !important;
    text-align: center !important;

}
.subtitle{
    position: relative;
    top: -11px !important;
    font-size: 12px;
}

.button-type{
    width: 100%;
    overflow: hidden;
}
.tipo{
    width: 100%;
}

.filter-icon{
    margin-right: 10px;
    padding-left: 10px;
    width: 22px;
    height: 22px;
}

.ion-content{
    height: calc(150vh - (400px + 112px));
    top: 50px;
    // bottom: 50px;
}

ion-icon{
    font-size: 20px;
}

// .card-border{
//     border: solid thin grey;
//     margin-bottom: 500px;
// }

.floating-button{
    margin-right: 20px;
    background-color: rgba(0, 0, 0, 0);

    .button-next{
        background-color: rgba(0, 0, 0, 0);
        margin-bottom: 20px;
        float: right;
        border-radius: 50%;
    }
}