<ion-header [translucent]="true">
  <ion-toolbar class="ion-text-center" color="primary">
    <ion-title>Meus Pedidos</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <!-- <div *ngFor="let pollData of pedidosfinal ; let i index" >             -->
    <!-- <app-pollinfo [masterArray]="i"></app-pollinfo> -->
    <div *ngIf="!this.pedidosfinal[0]" class="ion-text-center">
      <br> <br> <br>
      <h3 style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;" class="justify-content-center">Você ainda não realizou nenhum pedido.</h3>
    </div>
    <app-componente-pedidos *ngFor="let pedido of pedidosfinal; let i index" Imagem={{pedido.url_img}} Data={{pedido.data}} Index={{pedido.idpedido}} Id={{pedido.idpedido}}></app-componente-pedidos>
  <!-- </div> -->
</ion-content>
