<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tabPerfil">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tabProdutos">
      <ion-icon name="bag-handle-outline"></ion-icon>
      <ion-label>Produtos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tabCarrinho">
      <ion-icon name="cart-outline"></ion-icon>
      <ion-label>Carrinho</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="tabPedidos">
      <ion-icon name="reader-outline"></ion-icon>
      <ion-label>Pedidos</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
