

.center{
    transform: translate(0, 7%);
    background-color: 0,0,0,0;
    margin-right: 20px;
    margin-left: 20px;
    // bottom: 50px;

  
}


.bottom{
    margin-bottom: 2%;
    width: max-content;
    float: right;
}

.floating-button{
    margin-right: 20px;
    margin-bottom: 50px;

    .button-next{
        margin-bottom: 2%;
        float: right;
        border-radius: 10%;
        // width: 200px;
    }
    .button-cadastro{
        margin-bottom: 50px;
        float: right;
        border-radius: 10%;
        width: 150px;
    }
}