

.center{
    transform: translate(0, 10%);
    background-color: 0,0,0,0;
    margin-right: 20px;
    margin-left: 20px;

    .button-cadastro{
        margin-top: 10%;
        margin-bottom: 100%;
        float: right;
        border-radius: 10%;
    }

    .button-apagar{
        margin-top: 10%;
        margin-bottom: 100%;
        float: left;
        border-radius: 10%;
    }
}


.center{
    transform: translate(0, 25%);
}

.floating-button{
    margin-right: 20px;

    .button-next{
        margin-bottom: 10%;
        float: right;
        border-radius: 10%;
        // width: 200px;
    }
    .button-acessorio{
        margin-bottom: 10%;
        float: right;
        border-radius: 10%;
        width: 150px;
    }
}