<ion-header [translucent]="true">
  <ion-toolbar class="ion-text-center" color="primary">
    <ion-title>Carrinho de Compras</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <h3 *ngIf="this.produtos?.lenght===0">Nenhum produto no carrinho</h3> -->
  <app-c-carrinho *ngFor="let it of produtos" 
    Tecido={{it.tecido}}
    Acessorio={{it.acessorio.descricao}}
    Altura={{it.medidas.altura}} 
    Largura={{it.medidas.largura}}
    Qtd={{it.qtd}}
    Valor={{it.valor.toFixed(2)}}
    Metros={{it.medidas.metros_lineares.toFixed(2)}}
    Valor_tecido={{it.valor_tecido}}
    Partes={{it.medidas.partes}}
    Proporcao={{it.medidas.proporcao}}
    Imagem={{it.url_img}}
    Id={{it.id}}
    >
  </app-c-carrinho>
  <div *ngIf="!this.produtos[0]" class="ion-text-center">
    <br> <br> <br>
    <h3 class="justify-content-center">Nenhum item no carrinho</h3>
  </div>


  <!-- <ion-card class="card-border">
    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/img/cortina.jpg" alt="">
      </ion-avatar>
      <ion-label class="ion-text-wrap">
        <ion-button class="right" color="warning" fill="clear">
          <ion-icon size="large" name="close-circle-outline" color="danger"></ion-icon>
        </ion-button> 
        <b>Tecido voil branco - Ilhós cromado</b>    
        <br>
      </ion-label>
    </ion-item>
    <ion-item class="right">
      <ion-label class="ion-text-wrap">
        <b>4,47m x 2,77m</b> <br>
        <b>9m lineares de tecido</b> <br>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="ion-text-wrap">
        <b>Valor: R$</b> <br>
      </ion-label>
    </ion-item>
      <ion-card-content>
        <ion-button size="small" slot="end" color="white">
          <ion-icon size="large" name="add-circle-outline" color="success"></ion-icon>
        </ion-button>
        <ion-button size="small" slot="end" color="white">
          <ion-icon size="large" name="remove-circle-outline" color="warning"></ion-icon>
        </ion-button>
        <ion-label class="qtd">
          <ion-text><b>2 </b>unidades</ion-text>
        </ion-label>
      </ion-card-content>
  </ion-card> -->
</ion-content>
