<ion-header [translucent]="true">
  <ion-toolbar class="ion-text-center" color="primary">
    <ion-title>Carrinho de Compras</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <h3 *ngIf="this.produtos?.lenght===0">Nenhum produto no carrinho</h3> -->
  <app-c-carrinho *ngFor="let it of produtos" 
    Tecido={{it.tecido}}
    Acessorio={{it.acessorio.descricao}}
    Altura={{it.medidas.altura}} 
    Largura={{it.medidas.largura}}
    Qtd={{it.qtd}}
    Valor={{it.valor.toFixed(2)}}
    Metros={{it.medidas.metros_lineares.toFixed(2)}}
    Valor_tecido={{it.valor_tecido}}
    Partes={{it.medidas.partes}}
    Proporcao={{it.medidas.proporcao}}
    Imagem={{it.url_img}}
    Id={{it.id}}
    >
  </app-c-carrinho>
  <div *ngIf="!this.produtos[0]" class="ion-text-center">
    <br> <br> <br>
    <h3 style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;" class="justify-content-center">Nenhum item no carrinho</h3>
  </div>
</ion-content>
<div *ngIf="this.produtos[0]" class="floating-button">
  <!-- routerLink="../tabAcessorio" -->
  <ion-fab-button class="button-acessorio" color="success" (click)="setPedido()">Finalizar compra</ion-fab-button>
</div>