<ion-header [translucent]=true>
  <ion-toolbar class="ion-text-center" color="primary">
    <ion-title>Sistema de cortina</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]=true>
  <div class="cards">
    <app-componente-tipo-sistema *ngFor="let x of Sistemas" Id={{x.Id}} Tipo={{x.Tipo}} Imagem={{x.Imagem}}></app-componente-tipo-sistema>
  </div>
</ion-content>
<!-- <div class="floating-button">
  <ion-fab-button class="button-next" routerLink="../tabMedidas" color="success">Próximo</ion-fab-button>
</div> -->
