<ion-header [translucent]=true>
  <ion-toolbar class="ion-text-center" color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs"><ion-title>Voltar</ion-title></ion-back-button>
      
    </ion-buttons>
    <ion-title>Sistema de cortina</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]=true>
  <div class="cards">
    <ion-card class="card-border">
      <ion-item>
        <ion-label class="ion-text-wrap">
          <ion-text color="dark ion-text-center">
            <h3><b>Varão-deslizante</b></h3>
          </ion-text>
          <ion-text>
          </ion-text>
        </ion-label>
      </ion-item>
      <ion-item class="image">
        <img src="assets/img/cortina.jpg" alt="">
      </ion-item>
      <ion-card-content class="background">
        <ion-button size="small" fill="outline" slot="end" color="success">Selecionado</ion-button>
          <ion-icon size="large" slot="end" class="check" name="checkmark-outline" color="success"></ion-icon>
      </ion-card-content>
    </ion-card>
    <app-componente-tipo-sistema *ngFor="let x of Sistemas" Id={{x.Id}} Tipo={{x.Tipo}} Imagem={{x.Imagem}}></app-componente-tipo-sistema>

    <!-- <ion-card class="card-border">
      <ion-item>
        <ion-label class="ion-text-wrap">
          <ion-text color="dark ion-text-center">
            <h3><b>Ilhós para varão</b></h3>
          </ion-text>
          <ion-text>
          </ion-text>
        </ion-label>
      </ion-item>
      <ion-item  class="image">
        <img src="assets/img/ilhos.jpg" alt="">
      </ion-item>
      <ion-card-content class="background">
        <ion-button size="small" fill="outline" slot="end" color="primary">Selecionar</ion-button>
      </ion-card-content>
    </ion-card>
    <ion-card class="card-border">
      <ion-item>
        <ion-label class="ion-text-wrap">
          <ion-text color="dark ion-text-center">
            <h3><b>Argolas para varão</b></h3>
          </ion-text>
          <ion-text>
          </ion-text>
        </ion-label>
      </ion-item>
      <ion-item class="image">
        <img src="assets/img/cortina.jpg" alt="">
      </ion-item>
      <ion-card-content class="background">
        <ion-button size="small" fill="outline" slot="end" color="primary">Selecionar</ion-button>
      </ion-card-content>
    </ion-card>
    <ion-card class="card-border">
      <ion-item>
        <ion-label class="ion-text-wrap">
          <ion-text color="dark ion-text-center">
            <h3><b>Alças para varão</b></h3>
          </ion-text>
          <ion-text>
          </ion-text>
        </ion-label>
      </ion-item>
      <ion-item class="image">
        <img  src="assets/img/cortina.jpg" alt="">
      </ion-item>
      <ion-card-content class="background">
        <ion-button size="small" fill="outline" slot="end" color="primary">Selecionar</ion-button>
      </ion-card-content>
    </ion-card> -->
  </div>
</ion-content>
<div class="floating-button">
  <ion-fab-button class="button-next" routerLink="../tabMedidas" color="success">Próximo</ion-fab-button>
</div>
