<ion-card class="card-border">
  <ion-item-sliding>
    <ion-item>
      <ion-avatar class="image" slot="start">
        <img class="image" src="{{Imagem}}" alt="">
      </ion-avatar>
      <ion-button (click)="deletarItem()" slot="end" color="warning" fill="clear">
        <ion-icon size="large" name="close-circle-outline" color="danger"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-label class="ion-text-wrap">
         
        <b>{{Tecido}} - {{Acessorio}}</b> <br>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="ion-text-wrap" style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
        <b>A:</b>{{Altura}}m X <b>L:</b>{{Largura}}m. Proporção: {{Proporcao}}x1<br>
        cortina dividida em <b>{{Partes}}</b> partes. <br>
        <b>{{Metros}}m lineares de tecido</b> <br>
        <b>Valor do metro linear: {{Valor_tecido}}</b>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="ion-text-wrap">
        <b>R$: {{Valor}}</b> <br>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-card-content>
        <ion-button (click)="increment()" size="small" slot="end" color="white">
          <ion-icon size="large" name="add-circle-outline" color="success"></ion-icon>
        </ion-button>
        <ion-button (click)="decrement()" size="small" slot="end" color="white">
          <ion-icon size="large" name="remove-circle-outline" color="warning"></ion-icon>
        </ion-button>
        <ion-label class="qtd">
          <ion-text class="right"><b>{{Qtd}} </b>unidades</ion-text>
        </ion-label>
      </ion-card-content>
    </ion-item>
  </ion-item-sliding>
</ion-card>